body {
	background: #db5461;
}

#topper {
	background: #31e3fd;
}

#trainTable {
	background: white;
}

#tableHead {
	background: #8ef6ff;
}

#ourForm {
	background: #8ef6ff;
}

#addTrainBtn {
	margin: 2%; 
	background: #db5461;
}